@import "vendor/bourbon/bourbon";
@import "global/custom_mixins";

@import "grid-settings";

// Turn on visial grid.
$visual-grid: false;
$visual-grid-color: green;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

@import "vendor/neat/neat";
@import "global/global";

@import "global/fonts";

@import "variables/uw_scholar_variables";
@import "variables/colours";

@import "global/wrapper_elements";
@import "global/content";
@import "global/header";
@import "global/menu";
@import "global/responsive_menu";
@import "global/search_box";
@import "global/main_content";
@import "global/footer";
@import "global/old_themes";
@import "global/slideshow";
@import "global/section_nav";
@import "global/roadmap_alert_pages.scss";
@import "global/colour_bar.scss";
@import "global/landing_page.scss";
@import "global/buttons.scss";
@import "global/feeds.scss";
@import "global/messages.scss";
@import "global/images";

@import "modules/uw_virtual_site_homepage";
@import "modules/uw_cfg_openscholar";
@import "modules/biblio";
@import "global/typography";