.uw_button {
  clear: both;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  align-items: start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 1rem 0;
  width: 100%;
}

.uw_button_inner {
  border-right: 1px solid #dbdbdb;
  margin: 0;
  text-align: center;
  max-width: 18.125rem;
  width: 100%;
  a {
      border: 0 solid transparent;
      max-width: 100%;
      position: relative;
      text-align: center;
      color: #878787;
      text-decoration: none;
      -moz-appearance: none;
      -moz-user-select: none;
      background-color: #eee;
      border: medium none;
      cursor: pointer;
      display: inline-block;
      font-family: $base-button-font-family;
      font-size: 1.125rem;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
      white-space: nowrap;
      width: 100%;
    &:hover {
      background-color: black;
      color: white;
      transition-delay: 0s;
      transition-duration: 0.2s;
      transition-property: color, background-color, border-color, opacity;
    }
  }
}
