/***** COLOUR BAR ******/

.uw-site--colours {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

@each $faculty in $faculties {
  $i: index($faculties, $faculty);

  .uw-site--cbar.#{nth($faculties, $i)} .uw-site--c1 {
    @if nth($faculties, $i) == default {
      background-color: #FFFFAA;
    } @else {
      background-color: nth($faculty_colours_light, $i);
    }
  }

  .uw-site--cbar.#{nth($faculties, $i)} .uw-site--c2 {
    background-color: nth($colour_bar_2, $i);;
  }

  .uw-site--cbar.#{nth($faculties, $i)} .uw-site--c3 {
    background-color: nth($colour_bar_3, $i);;
  }

  .uw-site--cbar.#{nth($faculties, $i)} .uw-site--c4 {
    @if nth($faculties, $i) == default {
      background-color: #e4B429;
    } @else {
      background-color: nth($default_faculty_colour, $i);
    }
  }
}

.uw-site--cbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}


@media screen and (min-width: 1rem) {
  .uw-cbar {
    height: .625rem;
  }
}

@media screen and (min-width: 40.0625rem) {
  .uw-cbar {
    height: .875rem;
  }
}

@media screen and (min-width: 48.0625rem) {
  .uw-cbar {
    height: 1rem;
  }
}

@media screen and (min-width: 63.1875rem) {
  .uw-cbar {
    height: 1.125rem;
  }
}

.uw-cbar {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}