html{
  background:$uw-black;
}
.uw-section {
  &--inner {
    padding: 0rem 0.8rem 0rem 0.8rem;
    clear: both;
    @include outer-container;
    @include media($xsmall-screen) {}
    @include media($medium-screen) {
      padding: 0rem 0.8rem 0rem 0.8rem;
    }
    @include media($large-screen) {
      padding: 0;
    }
    .uw-header--global & {
      background:black;
      padding: 0rem 0rem 0rem 0.8rem;
    }
    .uw-site-footer & {
      @include outer-container;
      min-height: 5.625rem;
    }
    .uw-site-footer--global & {
      @include outer-container;
    }
  }
}
.uw-site {
  @include outer-container(100%);
  //make 100% for full width
  &--inner {
    @include outer-container(100%);
  }
  &--header {
    // inside the global header
    @include outer-container(100%);
    padding: 0.8rem 0 0.5rem 0;
    @include media($medium-screen) {
      padding: 0.6rem 0 0.5rem 0;
    }
    text-align: center;
    min-height: $site-header-height;
    line-height: $base-line-height;
    height: auto;
    background-color: $site-header-bg;
    text-transform: uppercase;
    img {
      vertical-align: bottom;
    }
  }
  &-footer {
    @include outer-container(100%);
    position: relative;
    @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (height, opacity, visibility, background-color));
    &.open-site-footer {
      background-color: $gray;
      color: $white;
      @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (height, opacity, visibility, background-color));
    }
    &--global {
      background-color: $site-global-footer-bg;
      position: relative;
    }
  }
}

.calendar-calendar td div.day{
  width:2rem;
}
// .calendar-calendar{
// border:1px solid $lighter-gray;
//   table.mini{
//       padding:0.5rem;
//     }
//   }
