/* Reader feed appearance. */
.node-feed .feed_item{
  display:block;
  margin:1rem 0 2rem 0;
}

.node-type-feed .node-feed .feed_item {
  margin:3rem 0;
}

.node-feed .feed_item span {
  display:block;
}

.node-feed .feed_item span.date  {
  font-size:12px;
  margin-bottom:0.5rem;
}

.node-feed .feed_item a.title {
  font-size:20px;
}

.node-feed .feed_item span.description img {
  width:100%;
}