@font-face {
  font-family: 'iconic';
  src: url("../fonts/iconic.eot");
  src: url("../fonts/iconic.eot?#iefix") format("embedded-opentype"), url("../fonts/iconic.svg#iconic") format("svg"), url("../fonts/iconic.woff") format("woff"), url("../fonts/iconic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*/ Bureau Grotesque /*/
@font-face {
    font-family: 'BureauGrotCond Book';
    src: url('/fonts/Bureau_Grot-Condensed_Book.eot');
    src: url('/fonts/Bureau_Grot-Condensed_Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Condensed_Book.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Condensed_Book.woff') format('woff'),
        url('/fonts/Bureau_Grot-Condensed_Book.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Condensed_Book.svg#Bureau_Grot-Condensed_Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrotWide';
    src: url('/fonts/Bureau_Grot-Wide_Light.eot');
    src: url('/fonts/Bureau_Grot-Wide_Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Wide_Light.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Wide_Light.woff') format('woff'),
        url('/fonts/Bureau_Grot-Wide_Light.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Wide_Light.svg#Bureau_Grot-Wide_Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrot Book';
    src: url('/fonts/BureauGrot-Book.eot');
    src: url('/fonts/Bureau_Grot-Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Book.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Book.woff') format('woff'),
        url('/fonts/Bureau_Grot-Book.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Book.svg#Bureau_Grot-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrotCond';
    src: url('/fonts/BureauGrot-Condensed_Bold.eot');
    src: url('/fonts/Bureau_Grot-Condensed_Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Condensed_Bold.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Condensed_Bold.woff') format('woff'),
        url('/fonts/Bureau_Grot-Condensed_Bold.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Condensed_Bold.svg#Bureau_Grot-Condensed_Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrot';
    src: url('/fonts/BureauGrot-Light.eot');
    src: url('/fonts/Bureau_Grot-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Light.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Light.woff') format('woff'),
        url('/fonts/Bureau_Grot-Light.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Light.svg#Bureau_Grot-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BureauGrotWide Book';
    src: url('/fonts/BureauGrotWide-Book.eot');
    src: url('/fonts/Bureau_Grot-Wide_Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bureau_Grot-Wide_Book.woff2') format('woff2'),
        url('/fonts/Bureau_Grot-Wide_Book.woff') format('woff'),
        url('/fonts/Bureau_Grot-Wide_Book.ttf') format('truetype'),
        url('/fonts/Bureau_Grot-Wide_Book.svg#Bureau_Grot-Wide_Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Complete 1451 */

@font-face {
    font-family: "Typ1451-Regularalternate";
    src:url("/fonts/lineto-typ1451-regularalternate.eot");
    src:url("/fonts/lineto-typ1451-regularalternate.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-regularalternate.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-regularalternate.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Mediumalternate";
    src:url("/fonts/lineto-typ1451-mediumalternate.eot");
    src:url("/fonts/lineto-typ1451-mediumalternate.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-mediumalternate.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-mediumalternate.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Regular";
    src:url("/fonts/lineto-typ1451-regular.eot");
    src:url("/fonts/lineto-typ1451-regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-regular.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Boldalternate";
    src:url("/fonts/lineto-typ1451-boldalternate.eot");
    src:url("/fonts/lineto-typ1451-boldalternate.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-boldalternate.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-boldalternate.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Medium";
    src:url("/fonts/lineto-typ1451-medium.eot");
    src:url("/fonts/lineto-typ1451-medium.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-medium.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Bold";
    src:url("/fonts/lineto-typ1451-bold.eot");
    src:url("/fonts/lineto-typ1451-bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-bold.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Light";
    src:url("/fonts/lineto-typ1451-light.eot");
    src:url("/fonts/lineto-typ1451-light.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-light.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typ1451-Lightalternate";
    src:url("/fonts/lineto-typ1451-lightalternate.eot");
    src:url("/fonts/lineto-typ1451-lightalternate.eot?#iefix") format("embedded-opentype"),
        url("/fonts/lineto-typ1451-lightalternate.woff2") format("woff2"),
        url("/fonts/lineto-typ1451-lightalternate.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'fdsu-rwd';
  src: url("../fonts/fdsu-rwd.eot?yngg0");
  src: url("../fonts/fdsu-rwd.eot?yngg0#iefix") format("embedded-opentype"), url("../fonts/fdsu-rwd.ttf?yngg0") format("truetype"), url("../fonts/fdsu-rwd.woff?yngg0") format("woff"), url("../fonts/fdsu-rwd.svg?yngg0#fdsu-rwd") format("svg");
  font-weight: normal;
  font-style: normal;
}

.ifdsu {
  font-family: 'fdsu-rwd';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fdsu-ical:before {
  content: "\e905";
}

.fdsu-chevron:before {
  content: "\e904";
}

.fdsu-si-comm:before {
  content: "\e901";
}

.fdsu-si-comp:before {
  content: "\e921";
}

.fdsu-si-infrastructure:before {
  content: "\e927";
}

.fdsu-si-professionals:before {
  content: "\e928";
}

.fdsu-si-security:before {
  content: "\e929";
}

.fdsu-si-teach:before {
  content: "\e92a";
}

.fdsu-info-2:before {
  content: "\e903";
}

.fdsu-close:before {
  content: "\e900";
}

.fdsu-envelope:before {
  content: "\e0eb";
}

.fdsu-add-to-calendar:before {
  content: "\2605";
}

.fdsu-arrow:before {
  content: "\e906";
}

.fdsu-comment:before {
  content: "\e907";
}

.fdsu-share:before {
  content: "\e908";
}

.fdsu-facebook:before {
  content: "\e909";
}

.fdsu-facebook-box:before {
  content: "\e90a";
}

.fdsu-instagram-box:before {
  content: "\e90b";
}

.fdsu-instagram:before {
  content: "\e90c";
}

.fdsu-linkedin:before {
  content: "\e90d";
}

.fdsu-linkedin-box:before {
  content: "\e90e";
}

.fdsu-twitter:before {
  content: "\e90f";
}

.fdsu-twitter-box:before {
  content: "\e910";
}

.fdsu-youtube-box:before {
  content: "\e911";
}

.fdsu-youtube:before {
  content: "\e912";
}

.fdsu-info:before {
  content: "\e902";
}

.fdsu-bubble:before {
  content: "\e15f";
}

.fdsu-binoculars:before {
  content: "\e1b5";
}

.fdsu-search:before {
  content: "\e1b6";
}

.fdsu-search-2:before {
  content: "\e1b7";
}

.fdsu-search-shade:before {
  content: "\e1bb";
}

.fdsu-arrow-right:before {
  content: "\e3b5";
}

.fdsu-googleplus-box:before {
  content: "\e495";
}

.fdsu-github:before {
  content: "\e4ba";
}

.fdsu-github-box:before {
  content: "\e4bb";
}

.fdsu-yahoo:before {
  content: "\e4c4";
}

.fdsu-tux:before {
  content: "\e4c5";
}

.fdsu-apple:before {
  content: "\e4c6";
}

.fdsu-finder:before {
  content: "\e4c7";
}

.fdsu-android:before {
  content: "\e4c8";
}

.fdsu-windows:before {
  content: "\e4c9";
}

.fdsu-windows8:before {
  content: "\e4ca";
}

.fdsu-skype:before {
  content: "\e4cd";
}

.fdsu-html5:before {
  content: "\e4eb";
}

.fdsu-css3:before {
  content: "\e4ec";
}

.fdsu-chrome:before {
  content: "\e4ed";
}

.fdsu-firefox:before {
  content: "\e4ee";
}

.fdsu-IE:before {
  content: "\e4ef";
}

.fdsu-opera:before {
  content: "\e4f0";
}

.fdsu-safari:before {
  content: "\e4f1";
}

.fdsu-calendar:before {
  content: "\e913";
}

.fdsu-cloud:before {
  content: "\e914";
}

.fdsu-rss-box:before {
  content: "\e916";
}

$fdsu-ical: "";
$fdsu-chevron: "";
$fdsu-si-comm: "";
$fdsu-si-comp: "";
$fdsu-si-infrastructure: "";
$fdsu-si-professionals: "";
$fdsu-si-security: "";
$fdsu-si-teach: "";
$fdsu-info-2: "";
$fdsu-close: "";
$fdsu-envelope: "";
$fdsu-add-to-calendar: "★";
$fdsu-arrow: "";
$fdsu-comment: "";
$fdsu-share: "";
$fdsu-facebook: "";
$fdsu-facebook-box: "";
$fdsu-instagram-box: "";
$fdsu-instagram: "";
$fdsu-linkedin: "";
$fdsu-linkedin-box: "";
$fdsu-twitter: "";
$fdsu-twitter-box: "";
$fdsu-youtube-box: "";
$fdsu-youtube: "";
$fdsu-info: "";
$fdsu-bubble: "";
$fdsu-binoculars: "";
$fdsu-search: "";
$fdsu-search-2: "";
$fdsu-search-shade: "";
$fdsu-arrow-right: "";
$fdsu-googleplus-box: "";
$fdsu-github: "";
$fdsu-github-box: "";
$fdsu-yahoo: "";
$fdsu-tux: "";
$fdsu-apple: "";
$fdsu-finder: "";
$fdsu-android: "";
$fdsu-windows: "";
$fdsu-windows8: "";
$fdsu-skype: "";
$fdsu-html5: "";
$fdsu-css3: "";
$fdsu-chrome: "";
$fdsu-firefox: "";
$fdsu-IE: "";
$fdsu-opera: "";
$fdsu-safari: "";
$fdsu-calendar: "";
$fdsu-cloud: "";
$fdsu-rss-box: "";
