/* HEADER */
#uw-header-content {
  background-color: $uw-black;
  color: $white;
}

// region header
.uw-header {
  background-color: $site-global-header-bg;
  min-height: $site-global-header-height;
  position: relative;
  @include outer-container();
  &--content {
    ul {
      margin-left:0;
      padding-left:0;
    }
  }
  &--logo {
    height: $site-global-header-height;
    @include span-columns(6 of 12);
    .uw-logo {
      margin: 1.3rem 0 0 0;
      display: block;
      width: 100%;
      height:1.875rem;
      @include media($small-screen) {
        margin: 1.15rem 0 0 0 ;
        height:2.188rem;
      }
      @include media($medium-screen) {
        height:2.5rem;
      }
      @include media($large-screen) {
        height:2.688rem
      }
      text-indent: -999rem;
      background: url(../images/uwaterloo-logo.svg) 0 50% no-repeat;
      background-size: contain;
      max-width: 10.563rem;
    }
    @include media($medium-screen) {
      @include span-columns(12 of 12);

      .uw-logo {
        @include span-columns(4 of 12);

        @include shift(4.5);
        margin-top:  1.5rem;
        max-width: 12.5rem;
        text-align: center;
      }
    }


    @include media($large-screen) {
       @include span-columns(2.5 of 12);
      .uw-logo {
        width: 100%;
        max-width: 10.750rem;
        margin:1rem 0 0 0 ;
        @include shift(0);
      }
    }
  }

  &--buttons.generic_header {
    float: right;
  }
  
  &--buttons {
    // position:absolute;
    @include span-columns(5 of 12);
    @include shift(1);
    @include omega;
    height: $site-global-header-height;
     @include media($small-screen) {
      @include span-columns(4 of 12);
      @include shift(2);
    }
    @include media($medium-screen) {
      display:none;
    }
    &__search {
      @include span-columns(2 of 4);

      height: 100%;
      text-align: center;
      margin-left: 5.61798%;
      // border-left: 1px solid transparentize($white, 0.8);

      @include omega;
      @include media($medium-screen) {
        @include span-columns(1 of 1);

        border: none;
      }
      a {
        height: 100%;
        font-family: $condensed-Book-font-family;
        letter-spacing:0.045rem;
        text-transform: uppercase;
        font-size: modular-scale(-1);
        text-decoration: none;
        display: block;

          padding-top: 0.9rem;
          @include media($medium-screen) {
            padding-top: 0;
           
           }
           @include media($large-screen) {
        
            padding-top: 0.9rem;
           }
        &.search-button {
          text-decoration: none;

          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: color);
         &:hover{
              color:$uw-gold; 
              .ifdsu{color:$uw-gold; @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color));}
            }

          .ifdsu {
            display: block;
            font-size: modular-scale(2);
            padding-bottom: 0.1rem;

            &:hover {}
          }
        }
      }
    }

    &__nav {
      height: 100%;
      @include span-columns(2 of 4);
      border-left: 1px solid transparentize($white, 0.80);
      label {
        height: 100%;
        text-align: center;
        font-family: $condensed-font-family;
        font-size: modular-scale(-1);
        text-transform: uppercase;
        font-weight:400;
      }

      @include omega;

      @include media($medium-screen) {
        display: none;
      }
    }
  }

  // global header
  &--global {
    @include outer-container(100%);

    background-color: $site-global-header-bg;
     nav{
          display:block;
          width:100%;
          @include media($medium-screen) {
          @include span-columns(12 of 12);
           // min-height: 4.375rem;

        }
          @include media($large-screen) {
            @include span-columns(8.5 of 12);
          
          }
        }
 .global-menu{
        display: none;
        padding-left: 0;
        margin-top:1rem;
        margin-bottom:1rem;
        @include media($medium-screen) {
          display:block;
          text-align:center;
          padding-top: 0.3rem;
        }
        @include media($large-screen) {
          padding-top: 1.05rem; 
        }
        li{
          display: inline-block;
          padding: 0 0.5rem;
        }
      }
  }
}






















/* white space with h1 h2 headers */
#header-container {
  @media screen and (min-width: 1rem) {
    padding: 5px 10px;
  }
  @media screen and (min-width: 48.0625rem) {
    padding: 5px 0;
  }
  background: #fff;
  .column {
    padding: 0 10px;
  }
  h1 {
    width:100%;
    font-family: $heading-font-family;
    font-weight:bold;
    font-size:36px;
    text-transform:uppercase;
    text-align:center;
    line-height:1.2;
    a{
      display:block;
      text-align:center;
      text-decoration:none;
      &:hover{
        text-decoration:underline;
      }
      &:visited{

      }
    }
    @include media($large-screen) {
      font-size: 2.56578rem;
    }

  }
  h2{
    clear:both;
    font-family: $condensed-Book-font-family;
    font-weight:500;
    font-size:16px;
    @include media($large-screen) {
      font-size: 1.60181rem;
    }
  }
  p{
    clear:both;
  }
  ul.nice-menu {
    li {
        text-transform: uppercase;
        line-height: 60px;
        /*font-size: 13px;*/
        margin:0 -2px;
        height: 58px;
        font-weight: bold;
        display:inline-block;
       &.first{
        a{
           background:url('../images/download.png') no-repeat 0 12px transparent;
          padding-left: 44px;
        }
       } 
      a{
          padding: 0 7px;
          display:block;
          text-decoration: none;
         &:visited{
          color: #000;
         }
         &:hover{
          color: #000;
         }
         &.active{
          color: #df0800 !important;
         }
      } 
    }
  }
}
.region-header-second {
  text-align:center;
}