#block-os-front-os-front-header {
  display: none;
}

[class*=" icon-"]::before, [class^="icon-"]::before {
  font-family: iconic;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

#global_frontpage_uw_scholar {
  clear: both;
  float: left;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#global_frontpage_uw_scholar h1 {
  margin-bottom:2rem;
}

#global_frontpage_uw_scholar_full {
  clear: both;
  float: left;
  text-align: left;
}

#global_frontpage_uw_scholar_left {
  clear: both;
  float: left;
  text-align: left;
}

#global_frontpage_uw_scholar_right {
  float: left;
  margin-top: 2rem;
  text-align: left;
}

#header-container #global_frontpage_uw_scholar_left h2,
#header-container #global_frontpage_uw_scholar_right h2,
#header-container #global_frontpage_uw_scholar_full h2,
#global_frontpage_uw_scholar_left h2,
#global_frontpage_uw_scholar_right h2,
#global_frontpage_uw_scholar_full h2,
#block-views-uw-os-number-of-sites-block h2 {
  font-size:1.3em;
  color:#252525;
  font-family: $heading-font-family-regular;
  font-weight: 300;
}

@media screen and (min-width: 48.0625rem) {
  #global_frontpage_uw_scholar_full {
    padding-right: 1.5rem;
    width:96%;
  }
  #global_frontpage_uw_scholar_left{
    padding-right: 1.5rem;
    width:48%;
  }
  #global_frontpage_uw_scholar_right  {
    width: 48%;
    margin-top: inherit;
  }
}

#block-vsite-register-get-your-site-block {
  display: none;
}
#block-views-uw-os-number-of-sites-block {
  padding-top: 2rem;
  /*padding-bottom: 2rem;*/
}

#block-views-uw-os-number-of-sites-block .views-row{
  margin-bottom:0.25rem;
}

#block-views-uw-os-number-of-sites-block .block-inner{
  margin:inherit;
}

@media screen and (min-width: 1rem) {
  .view-uw-os-number-of-sites .view-content {
    display: block;
  }
}

@media screen and (min-width: 48.0625rem) {
  .view-uw-os-number-of-sites .view-content {
    -moz-box-orient: horizontal;
    -moz-box-pack: start;
    align-items: start;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 1rem 0;
    width: 100%;
  }
}

.view-uw-os-number-of-sites .view-content .views-row {
  flex: 1;
  margin-right: 0.25rem;
  text-align: center;
}

.view-uw-os-number-of-sites .view-content .views-row a {
  border: 0 solid transparent;
  max-width: 100%;
  position: relative;
  color: #878787;
  text-decoration: none;
  -moz-appearance: none;
  -moz-user-select: none;
  background-color: #eee;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  font-family: $base-button-font-family;
  font-spacing:0.05rem;
  font-size: 1.125rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.view-uw-os-number-of-sites .view-content .views-row a:hover {
  background-color: black;
  color: white;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, opacity;
}

.uw_os_data {
  clear: both;
  margin: 2rem 0;
  width: 100%;
  float:left;
}

.uw_os_data h3{margin:0 0 1.5rem;}
.uw_os_data .uw_os_data_inner {
  margin: 0;
  text-align: center;
  width: 100%;
}

body.html .uw_os_data img {
  padding:1rem;
}

.uw_os_total_sites,
.uw_os_total_users,
.uw_os_total_pages,
.uw_os_total_posts {
  width:100%;
  float:left;
  text-align:center;
  border:1px solid #dbdbdb;
  margin-bottom: 1rem;
  padding-bottom:1rem;
  padding-top:1rem;
}

.uw_os_data:last-child {
  margin-left:0;
}

@media screen and (min-width: 40.0625rem) {
  body.html .uw_os_data img {
    padding:1rem;
    max-width:100px;
  }
  .uw_os_total_sites,
  .uw_os_total_users,
  .uw_os_total_pages,
  .uw_os_total_posts {
    width:23%;
    margin-left:1%;
    float:left;
    text-align:center;
    border:1px solid #dbdbdb;
  }
}