/* MAIN CONTENT */
#columns .hg-container .region-sidebar-second {
  padding-left: 0;

}
#columns .hg-container .region-sidebar-first {
  padding-right: 0;
}
.hg-container {
  -moz-box-sizing: border-box;
  margin: 0 auto 1rem auto;
  max-width: 100%;
  clear:both;
}
.node-inner {
  padding: 0;
}

.element-invisible {
  display: none;
}

/****** SIDEBAR ******/
@media screen and (max-width: 768px) {
  .region-sidebar-second {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .page-node #content-column .content-inner.with-sidebar {
    max-width: 65%;
  }

  #content-column .content-inner.with-sidebar {
    max-width: 65%;
  }

}

@media screen and (min-width: 968px) {
  .page-node #content-column .content-inner.with-sidebar {
    max-width: 73%;
  }

  #content-column .content-inner.with-sidebar {
    max-width: 73%;
  }

}

/****** MEDIA CONTAINER ******/


.media-element-container.tint {
  overflow: scroll;
}

.media-element-container iframe {
  width: 100%;
  clear: both;
  margin-bottom: 0.5rem;
}

.header-left.header-main.header-right .region-header-second .region-inner {
  margin: 0;

  @media screen and (min-width: 968px) {
    margin-left: 260px;
    margin-right: 330px;
  }
}
