/* MENU */
#menu-bar {
  line-height:59px;
  background:#eee;
}
#menu-bar #block-os-primary-menu ul.nice-menu,
#menu-bar ul.nice-menu li {
  padding-left: 5px;
  background: #eee;
  /*float:inherit;*/
}
#menu-bar,
#menu-bar ul.nice-menu li a,
#menu-bar ul.nice-menu li a:visited {
  font-family: 'BureauGrotCond Book',impact,'avenir next condensed heavy','Droid Sans',sans-serif;
  font-size: 18px;
  text-decoration: none;
  letter-spacing:0.05rem;
}
#menu-bar ul.nice-menu li a.active,#menu-bar ul.nice-menu li a:hover{
  padding-bottom:12px;
}

.nice-menu-down .menuparent:after{
  content:'\e906';
  font-family: fdsu-rwd;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  font-size:10px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  /*display:inline-block;*/
  position:absolute;
  top:25px;
  right:-5px;
  padding-left:3px;
}
.nice-menu-down li a + ul{
  background:#757575;
  top:59px;
}
#menu-bar li a + ul li a:hover {
  padding-bottom:12px;
}