/* D6 retro css for older themes */
#columns {padding:0 10px;}
body {
  color: #333;
  overflow-x: hidden;
}
#page_wrap {
  background: #fff;
}
#page-wrapper {
  background: #fff;
}
.front #page-wrapper {
  background: #fff;
}
.theme-selector h3{
  font-weight:bold;
}