.responsive-nav-menu a.sf-with-ul:after{
  content:'';
}
/* responsive MENU overwrites*/
.responsive-nav-menu #menu-bar {
  line-height:inherit;
  background:inherit;
}
.responsive-nav-menu #menu-bar #block-os-primary-menu ul.nice-menu,
.responsive-nav-menu .region-header-second #block-os-secondary-menu ul.nice-menu
{  float: inherit;  }
.responsive-nav-menu #menu-bar ul.nice-menu li {
  padding-left:inherit;
  float:left;
  clear:both;
  display:block;
  width:100%;
}
.responsive-nav-menu #menu-bar ul.nice-menu li a{
  padding-left:1rem;
}
.responsive-nav-menu #menu-bar,
.responsive-nav-menu #menu-bar ul.nice-menu li a,
.responsive-nav-menu #menu-bar ul.nice-menu li a:visited {
  color:#fff;
  // font-family: "Open Sans Condensed", "arial narrow", Verdana, sans-serif;
  font-size: inherit;
  text-decoration: inherit;
  // font-weight:bold;
}
.responsive-nav-menu #menu-bar ul.nice-menu li a:hover{
  border-bottom:inherit;
  background:#333;
}
.responsive-nav-menu #menu-bar ul.nice-menu .menuparent{
}
.responsive-nav-menu #menu-bar ul.nice-menu .menuparent:after {
  content:'';
  display:none;
}
.responsive-nav-menu #menu-bar ul.nice-menu .menuparent a + ul{
  display:none;
}
.responsive-nav-menu #menu-bar #block-os-primary-menu ul.nice-menu,
.responsive-nav-menu #menu-bar ul.nice-menu li {
  padding-left: inherit;
}
#menu-bar{
        display:none;
     }
.responsive-nav-menu #block-os-primary-menu{
    max-width:inherit;
    margin:inherit;
    position:inherit;
 }    
 .responsive-nav-menu #menu-bar{
    display:block;
    background-color: transparent;
    }

@media screen and (min-width: 48.0625rem) {
    .uw-site--off-canvas {
        display: none
    }
     #menu-bar{
        display:block;
     }

}

.responsive-menu-combined__container {
    display: block;
    position: absolute;
    right: .2rem;
    right: 0;
    top: -4.4rem;
    height: 4.375rem;
    z-index: 10;
    background-color: #000;
    border-left: 1px solid rgba(255, 255, 255, .2)
}
@media screen and (min-width: 48.0625rem) {
    .responsive-menu-combined__container {
        display: none
    }
}
.responsive-menu-combined__container label {
    display: block
}
.navigation-button {
    text-align: center;
    position: relative;
    height: auto
}
.navigation-button .navigation-button__toggle {
  padding: 2.20rem 0.5rem 0.5rem 0.5rem;
  height: 100%;
  cursor: pointer;
  position: relative;
  width: 100%;
    font-family: $condensed-Book-font-family;
    letter-spacing:0.045rem;
    text-transform: uppercase;
  font-size: modular-scale(-1);
  height: 100%;
  color: #fff;
  display: block;
  font-weight:400;
  &:hover {
    span,
    span:before,
    span:after {
      background: $uw-gold;
    }
  }
}
.navigation-button .navigation-button__toggle span {
  position: absolute;
  top: 33%;
  left: 50%;
  margin-left: -0.75rem;

  @include uw-transition($delay: 0s, $duration: 0ms, $timing: "linear", $property: background-color);

  @include media($xsmall-screen) {
    margin-left: -0.75rem;
  }


  display: block;
  -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  height: 0.1rem;
  width: 1.5rem;
  background-color: #fff;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;

  [data-nav-visible="true"] & {
    background-color: transparent;
    color: $uw-gold;
    width: 1.5rem;

    @include uw-transition($delay: 0s, $duration: 0ms, $timing: "linear", $property: background-color);
  }
}

.navigation-button .navigation-button__toggle:hover {
  color: $uw-gold;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.navigation-button .navigation-button__toggle span:before,
.navigation-button .navigation-button__toggle span:after {
  -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.navigation-button .navigation-button__toggle span:before {
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  transform: translateY(-300%);
}

.navigation-button .navigation-button__toggle span:after {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  transform: translateY(300%);
}

[data-nav-visible="true"] .navigation-button .navigation-button__toggle span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
  background: $uw-gold;
}

[data-nav-visible="true"] .navigation-button .navigation-button__toggle span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
  background: $uw-gold;
}
.responsive-nav-menu .sub-nav .toggle {
    padding: 0 .3125em;
    top: 0
}
.responsive-nav-menu .sub-nav .toggle span {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    display: inline-block;
    padding: 0 .5rem;
    font-weight: 700
}
.responsive-nav-menu .sub-nav .toggle span.ifdsu {
    font-weight: 300
}
#responsive-nav-check,
.responsive-nav-menu .sub-nav-check {
    position: absolute;
    top: -30rem;
    display: none
}
.toggle {
    position: absolute;
    right: .6em;
    cursor: pointer;
    color: #fff
}
.container {
    background: #fff;
    min-height: 100%;
    padding: 0;
    margin: 0
}
.uw-site--offcanvas {
    padding: 2rem;
    min-height: 100%;
    margin: 0;
    position: relative;
    top: 5rem
}
.responsive-nav-menu,
.responsive-nav-menu .sub-nav {
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 10;
    left: -50rem
}
.responsive-nav-menu {
  border-top: 1px solid $dark-gray;
  z-index: map-get($zindex, modal);
  width: 100%;
  background:$black;
  ol li, ul li {
    margin:0;
  }
}
.responsive-nav-menu,
.responsive-nav-menu .sub-nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.responsive-nav-menu [type=radio]:checked~label~.content,
.responsive-nav-menu [type=radio]~label~.content {
    -moz-transition-duration: .2s;
    -moz-transition-delay: 0s;
    -moz-transition-timing-function: "linear";
    -ms-transition-duration: .2s;
    -ms-transition-timing-function: "linear";
    -webkit-transition-delay: 0s
}
.responsive-nav-menu .sub-heading,
.responsive-nav-menu .sub-heading label {
    font-weight: 600;
    font-family: $condensed-Book-font-family;
    font-size: 1.125rem
}
.responsive-nav-menu li.expanded a {
    margin-right: 2.4rem;
    overflow: hidden;
    text-decoration: none
}
.responsive-nav-menu .expanded li.first a,
.responsive-nav-menu .expanded li.last a,
.responsive-nav-menu .expanded li.leaf a {
    margin-right: 0;
    padding-left: 1rem;
    overflow: visible;
    text-decoration: none
}
.responsive-nav-menu .toggle-sub:hover,
.responsive-nav-menu a.active,
.responsive-nav-menu li a:hover {
    background: #333
}
.responsive-nav-menu .sub-nav {
    bottom: 0;
    background: #252525
}
.responsive-nav-menu .sub-heading {
    border: none;
    color: rgba(255, 255, 255, .3);
    height: 2.75rem;
    margin-right: 5rem;
    overflow: hidden
}
.responsive-nav-menu .toggle-sub {
    font-size: 1rem;
    font-weight: 600;
    font-family: $condensed-Book-font-family;
    color: #fff;
    background: #222;
    float: right;
    padding-top: 10px;
    width: 2.4rem;
    border-left: 1px solid #444;
    cursor: pointer;
    text-align: center
}
.call-to-action-big-text,
.responsive-nav-menu .tab>label {
    font-size: 1.125rem;
    font-family: $condensed-Book-font-family;
    font-weight: 600;
    text-align: center
}
#responsive-nav-check:checked~.responsive-nav-menu,
.responsive-nav-menu .sub-nav-check:checked~.sub-nav {
    -webkit-transform: translate(50rem, 0);
    -ms-transform: translate(50rem, 0);
    transform: translate(50rem, 0)
}




.responsive-nav-menu ul {
  background: $uw-black;
  line-height: 2.75rem;
  text-decoration: none;
  padding: 0;
  list-style: none;

  // margin-top: 4.0625rem;
  // border-top: 1px solid #444;
}

.responsive-nav-menu li {
  border-bottom: 1px solid #222;
  font-size: modular-scale(1);
  font-family: $condensed-Book-font-family;
  letter-spacing:0.05rem;
  display: flex;
}

.responsive-nav-menu li a {
  background: $uw-black;
  display: block;
  font-size: modular-scale(1);
  font-family: $condensed-Book-font-family;
  letter-spacing:0.05rem;
  padding: 0.75rem 1rem;
  margin-right: 0;
  line-height: 1.3rem;
  text-decoration: none;
  flex: 1;
}

.responsive-nav-menu li.expanded > a {
  //margin-right: 2.4rem;
  text-decoration: none;
  padding-left: 1rem;
  text-decoration: none;
}

.responsive-nav-menu .expanded li.first a,
.responsive-nav-menu .expanded li.last a,
.responsive-nav-menu .expanded li.leaf a {
  margin-right: 0rem;
  text-decoration: none;
  padding-left: 1rem;
  text-decoration: none;
}

.responsive-nav-menu li a:hover, .responsive-nav-menu a.active,
.responsive-nav-menu .toggle-sub:hover {
  background: #252525;
}

.responsive-nav-menu .sub-nav {
  background: $uw-black;
}

.responsive-nav-menu .sub-nav li a {}

.responsive-nav-menu .sub-heading {
  border: none;
   font-family: $condensed-Book-font-family;
  letter-spacing:0.045rem;
  font-size: modular-scale(2);
  color: transparentize($white, 0.7);
  padding: 0 5rem 0 1rem;
  height: 2.750rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.responsive-nav-menu .sub-heading label {
   font-family: $condensed-Book-font-family;
  letter-spacing:0.045rem;
  font-size: modular-scale(1);
}








.call-to-action-big-text,
.responsive-nav-menu .tab >label {
    font-size: 1.125rem;
    font-family: $condensed-Book-font-family;
    font-weight: 600;
    text-align: center
}
#responsive-nav-check:checked ~ .responsive-nav-menu,
.responsive-nav-menu .sub-nav-check:checked ~ .sub-nav {
  -webkit-transform: translate(50rem, 0);
  -moz-transform: translate(50rem, 0);
  -ms-transform: translate(50rem, 0);
  transform: translate(50rem, 0);
}

.responsive-nav-menu .tabs {
  position: relative;
  height: 100%;

  /* This part sucks */
  min-height: 22rem;
  // min-height: 10000px;

  @include span-columns(12);

  @include omega;

  border-bottom: 1px solid transparentize($white, 0.9);
}

.responsive-nav-menu .tab {
  border-right: 1px solid $uw-black;
  margin: 0;
  padding: 0;
  float: left;

  // background:$gray;
  height: auto;
}

.responsive-nav-menu .tab-1 {
  width: 50%;
}

.responsive-nav-menu .tab-2 {
  width: 50%;
}

.responsive-nav-menu .tab-3 {
  width: 33.3%;
}

.responsive-nav-menu .tab-4 {
  width: 25%;
}

.responsive-nav-menu .tab-5 {
  width: 25%;
}

.responsive-nav-menu .tab-6 {
  width: 15%;
}

.responsive-nav-menu .tab > label {
  text-align: center;
  position: relative;
  font-size: modular-scale(2);
  padding: 1rem 0;
  font-family: $condensed-Book-font-family;
  letter-spacing:0.045rem;
  color: $white;
  display:block;
  font-weight:300;
}

.responsive-nav-menu .tab label {
  margin-bottom: 0;
}

.responsive-nav-menu .tab [type=radio] {
  display: none;
}

.responsive-nav-menu .tabs .tab {}

.responsive-nav-menu .tab .content {
  position: absolute;
  top: 3.25rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;

  h2 {
    color: $white;
    margin:0;
    padding:0.75rem 1rem 0.5rem 1rem;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    text-transform: uppercase;
    background-color:$black;
  }
}
.responsive-nav-menu [type=radio] ~ label ~ .content {
  height: 0;
  overflow: hidden;
  opacity: 0;

  @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: opacity);
}

.responsive-nav-menu [type=radio] ~ label {
  background: #252525;
  z-index: 1;
}

.responsive-nav-menu [type=radio] ~ label ~ .content {
  background: $uw-black;
  z-index: 1;
}

.responsive-nav-menu [type=radio]:checked ~ label {
  background: $uw-black;
  display: block;
  z-index: 2;
}

.responsive-nav-menu [type=radio]:checked ~ label ~ .content {
  background: $uw-black;
  height: auto;
  opacity: 1;
  overflow: inherit;

  @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: opacity);

  z-index: 2;
}


