/* STYLES FOR ROADMAP AND ALERT PAGES. */
ul.alert-issues {list-style-type:none;}
ul.alert-issues li {margin-bottom:20px;}
span.github-label {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 95%;
  padding: 5px;
  display:inline-block;
}
.alerts > p:first-child {background: url("../images/warning.png") no-repeat scroll 0 0 transparent;
  padding: 3px 0 3px 28px;}
.page-roadmap #modal ul {
  line-height: 2.1em;
}