/* SEARCH BOX */
#header-container #search-form,
#header-container .search-form {
  padding: 0;
  margin: 0;
}
#header-container #search-form .container-inline {
  height: 24px;
  max-width: none;
  width: auto;
  background: transparent;
  padding:0;
}
#header-container #search-form #edit-keys-wrapper {
  width:245px;
}
#search-block-form .container-inline .form-item .form-text {
  width: 233px;
  background: #abaaaa;
  height: 24px;
  font-size: 15px;
  padding: 1px 4px 0;
  border: none;
}
#search-block-form input.form-submit, #search-block-form #edit-submit, #search-form #edit-submit {
  width:64px;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  background:#df0800;
  color: #fff !important;
  text-transform:uppercase;
  margin:0;
  text-indent: 0;
  height: 28px;
  font-size: 12px;
  line-height: 25px;
  text-shadow: none;
}