/* Section Nav */
#boxes-box-os_pages_section_nav {
  border: 1px solid #ccc;
  border-bottom: none;
}
.section-nav li.expanded,
.section-nav li.collapsed,
.section-nav li.leaf {
  padding: 0;
}
.section-nav ul.menu {
  margin-bottom: 0;
}
.section-nav ul.menu li {
  list-style: none;
  background-color: #fff;
  text-align: left;
}
.section-nav ul.menu li a {
  display: block;
  text-decoration: none;
  padding: 8px 15px;
  border-bottom: 1px solid #ccc;
  font-weight:bold;
}
.section-nav ul.menu ul li a {
  padding: 8px 25px;
}
.section-nav a:hover {
  background-color: #eee !important;
}
.section-nav a.active {
  color: #1e1e1e;
  font-style:italic;
}
/* Section Nav - Section Heading. */
.section-nav .menu-depth-1 > a {
  background: none !important;
  background-color: #252525 !important;
  color: #fff;
  text-transform: uppercase;
}
.section-nav .expanded.menu-depth-2 > a {
  background-color: #666;
  color: #fff;
}
.section-nav .menu-depth-1 .expanded > a:before,
.section-nav .menu-depth-1 .collapsed > a:before {
  top: 9px;
}