/* SLIDESHOW */
.view-os-image-gallery-slideshow {border:none;background:none;margin-top: -20px;position: relative;
  z-index: 10;}
.view-os-image-gallery-slideshow .views-slideshow-controls-bottom {padding:3px 0 2px 5px;color:#333;}
.view-os-image-gallery-slideshow .views-slideshow-controls-bottom a {color:#333;}
.views-slideshow-slide-counter {float:right;display:inline;clear:none;margin-right:5px;}
.views-slideshow-controls-text {float:right;display:inline;clear:none;}
.views-slideshow-controls-text-previous a {display:none;}
.views-slideshow-controls-text-next a {display:none;}
.views-slideshow-controls-text a {width:22px;height:19px;text-indent: 100%;white-space: nowrap;overflow:hidden;float:right;margin-right:5px;}
.views-slideshow-controls-text-pause a {background: url('../images/play_1.png')no-repeat;float:right;margin-right:0;}
.views_slideshow_slide img {
  margin: 0 auto -45px auto;
}
.view-os-image-gallery-slideshow .views-slideshow-controls-bottom {
  color: #333;
  padding: 1px 5px;
  z-index:9;
  position:relative;
  width:950px;
}
.view-os-image-gallery-slideshow .views-field-uri {
  margin:0 auto;
}
.views-slideshow-pager-field-item {float:left;display:inline;color:#293352;background:#FFF;margin-left:4px;border: 1px solid #C1C1C1;padding: 1px 4px;}
.views-slideshow-pager-field-item:hover {cursor:pointer;}
.views-slideshow-pager-field-item.active {color:#293352;background:#D9D9D9;}
.views-content-counter {
  font-size: 11px;
  padding-top: 2px;
  width: 11px;
  height: 13px;
}