/*TYPOGRAPHY*/
.field-name-body ul,
.field-name-body ol {
  margin: 0 0 1.5em 61px;
}


@media screen and (min-width: 1rem) {
  .personal_frontpage_uw_scholar ul,
  .personal_frontpage_uw_scholar ol,
  #global_frontpage_uw_scholar_full ul,
  #global_frontpage_uw_scholar_full ol {
    position: relative;
    left: 61px;
    max-width: 75%;
  }
}

@media screen and (min-width: 48.0625rem) {
  .personal_frontpage_uw_scholar ul,
  .personal_frontpage_uw_scholar ol,
  #global_frontpage_uw_scholar_full ul,
  #global_frontpage_uw_scholar_full ol {
    position: relative;
    left: 61px;
    max-width: 90%;
  }
}

.personal_fp_info_footer a {
  text-decoration: underline;
}

.personal_fp_info_footer a:hover {
  text-decoration: none;
}

#global_frontpage_uw_scholar_right p a,
.global_frontpage_uw_scholar_full a {
  color: #000;
}

#global_frontpage_uw_scholar_right p a:hover,
.global_frontpage_uw_scholar_full a:hover {
  color: #000;
  text-decoration: none;
}

body.page-admin #page a,
body.page-admin #page a,
body.page-admin #page .biblio-title a {
  color: #000;
}

body.page-admin #page a:hover,
body.page-admin #page a:hover,
body.page-admin #page .biblio-title a:hover {
  color: #000;
  text-decoration: none;
}


html
/* Always apply your global font size the the HTML element, not body or #page */

{
   
    // line-height: 1.5;
    /* Unitless line-heights scale */
    
    height: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
   font-size: 16px;
    font-family:$base-font-family;
    min-height: 100%;
/*    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;*/
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img,
em,
dfn,
del,
ins,
a,
tbody,
tfoot,
thead,
tr,
ul,
li,
label,
legend,
figure,
figcaption {
    margin: 0;
    padding: 0;
}
/* Reset HTML5 elements */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

h2 {
    font-size: 1.3em;
      
}
h1,h2,h3,h4,h5,h6{
  font-family: $condensed-Book-font-family;
  letter-spacing:0.05rem;
  font-weight: 300;
}
h3 {} h4 {} h5,
h6 {} h1 a,
h2 a,
h3 a,
h4 a {
    text-decoration: none;
}

h2, h3 {
  font-size: 1.3em;
}
h2 {
  margin-bottom: 1em;
}
.front h1#page-title {
  display: none;
}
h3 {
  margin:1.5em 0;
}
p.copy {
  width: auto;
  line-height: 40px;
}
ul.grid {
  padding: 0;
  margin: 0;
}
#content .node ul.grid li {
  float:left;
  width:253px;
  margin-right: 40px;
  list-style: none;
  padding: 0;
}





// <a href>
a{
  .uw-footer-phone & {
    color: $yellow-dark;
    text-decoration: none;
    display: inline;

    &:hover {
      text-decoration: underline;
    }
  }
  .responsive-nav-menu &{
    color:$white;
    &.active{
      color:$white;
    }
  }
   .breadcrumb &{
    font-family: $font-1451-medium;
    }
    ul.primary &{
       font-family: $condensed-Book-font-family;
       letter-spacing:0.05rem;
    }
}



.uw-header--nav__university {
  .global-menu li a {
    font-family: $condensed-Book-font-family;
    letter-spacing:0.045rem;
    text-transform: uppercase;
    font-size: modular-scale(-1);
    text-decoration: none;
    color: $white;
    &:hover {
     
      text-decoration: underline;
    }
  }
}

.uw-site-flex {
  // font-weight: $weight-bold;
  color: $white;
}

// navigation
.uw-site-footer--global {
  font-size: modular-scale(-1);
 font-family: $font-1451-medium;
   -webkit-font-smoothing: subpixel-antialiased;
  .global-menu li a {
    font-family: $condensed-Book-font-family;
    letter-spacing:0.045rem;
    text-transform: uppercase;
    padding: 1rem 0.25rem;
    display: block;
    text-decoration: none;
    font-size: modular-scale(-1);
    @include media($xsmall-screen) {
      // font-size: modular-scale(0);
      padding: 0.17rem;
    }


    @include media($medium-screen) {
      
      padding: 0rem 0;
    }


    &:hover {
      color: $yellow-dark;
      text-decoration: underline;
    }
  }
}
span.date-display-single,
.node .submitted time ,
.file,.size {
  font-family: $font-1451-medium;
}
.file,.size {
  font-size:0.8rem;
}  
p{
  line-height:1.45;
}

.field .field-label{
 font-family: $condensed-Book-font-family;
  font-size:1.1rem;
  font-weight:300;
}