/* WRAPPER ELEMENTS */
#header-container, #block-os-primary-menu, #columns {
  max-width: 63.125rem;
  margin:0 auto;
  position: relative;
}
.at-panel .region.region-content-top {
  float:left;
}
.front.no-sidebars .block-boxes-os_boxes_slideshow:after {
  background: #2D383B;
  bottom: auto;
  content: "";
  display: block;
  height: 390px;
  left: -1000px;
  position: absolute;
  right: auto;
  top: 0;
  width: 3000px;
  z-index: 0;
}
.not-front .at-panel .region.region-content-top {
  height:auto;
}
.front #content-column {
  padding: 0;
}
.region-sidebar-second .block .content {
  padding: 15px;
}
.front #content-wrapper #content,
.front #content-wrapper .column {
  background: transparent;
  padding: 0;
}