/*
$faculties: 
default $uw-black $uw-black $dark-gray url("../images/rwd-home/chevrons-yellow.png") $medium-gray org_default_bg $uw-gold, 
ahs $uw-ahs $uw-ahs-light darken($uw-ahs, 9%) url("../images/rwd-home/chevrons-teal.png") $uw-ahs org_ahs_bg $uw-ahs-light, 
arts $uw-arts $uw-arts-light darken($uw-arts, 5%) url("../images/rwd-home/chevrons-orange.png") $uw-arts org_art_bg $uw-arts-light, 
engineering $uw-engineering $uw-engineering-light darken($uw-engineering, 5%) url("../images/rwd-home/chevrons-purple.png") $uw-engineering org_eng_bg $uw-engineering-light , 
environment $uw-environment $uw-environment-light darken($uw-environment, 5%) url("../images/rwd-home/chevrons-green.png") $uw-environment org_env_bg $uw-environment-light, 
math $uw-math $uw-math-light darken($uw-math, 5%) url("../images/rwd-home/chevrons-pink.png") $uw-math org_mat_bg $uw-math-light, 
science $uw-science $uw-science-light darken($uw-science, 5%) url("../images/rwd-home/chevrons-blue.png") $uw-science org_sci_bg $uw-science-light,
school $uw-school $uw-schools-light darken($uw-school, 5%) url("../images/rwd-home/chevrons-red.png") $uw-school org_school_bg $uw-schools-light, 
cgc $uw-cgc $uw-conrad-light darken($uw-cgc, 5%) url("../images/rwd-home/chevrons-cgc.png") $uw-cgc org_cgc_bg #fff, 
ren $uw-ren $uw-renison-light darken($uw-ren, 5%) url("../images/rwd-home/chevrons-ren.png") $uw-ren org_ren_bg #fff,  
stj $uw-stj $uw-st-jeromes-light darken($uw-stj, 5%) url("../images/rwd-home/chevrons-stj.png") $uw-stj org_stj_bg #fff, 
stp $uw-stp $uw-st-pauls-light darken($uw-stp, 5%) url("../images/rwd-home/chevrons-stp.png") $uw-stp org_stp_bg #fff;
*/

$faculties: default ahs arts engineering environment math science cgc ren stj stp;

$default_faculty_colour: $uw-black $uw-ahs $uw-arts $uw-engineering $uw-environment $uw-math $uw-science $uw-cgc $uw-ren $uw-stj $uw-stp;

$faculty_colours_light: $uw-default-light $uw-ahs-light $uw-arts-light $uw-engineering-light $uw-environment-light $uw-math-light $uw-science-light $uw-cgc-light $uw-ren-light $uw-stj-light $uw-stp-light;

$colour_bar_2: #FFEA3D #00BED0 #FBAF00 #BE33DA #BED500 #FF63AA #63A0FF #B71233 #B71233 #B71233 #B71233;

$colour_bar_3: #FFD54F #009BA5 #E78100 #8100B4 #B4BE00 #DF249B #0073CE #E41740 #E41740 #E41740 #E41740;

body {
  @each $faculty in $faculties {
    $i: index($faculties, $faculty);
    &.#{nth($faculties, $i)} {
        a{
            color:nth($default_faculty_colour, $i);
            text-decoration:underline;
            &:hover{
                text-decoration:none;
            }
        }
        //force overwrite color of links to white or gold;
        .personal_fp_info_footer a,
        .global-menu li a,
        a.dismiss,
        .responsive-nav-menu li a {
            color:$white;
        }
        .uw-footer-phone a {
            color: $yellow-dark;
        }
        .homepage-banners-top-wrapper a{
            text-decoration:none;
        }
    }
  }
}