.jcarousel-skin-default .jcarousel-item {
  height: inherit;
}

#overlay-close, :not(form) div.messages {
  margin-left: auto;
  margin-right: auto;
}

/* FRONT PAGE*/
.front{
  #header-container {
    height:auto;
  }
  #content-column {
    line-height:1.45;
  }
  .region{
    &.region-content-first,
    &.region-content-second,
    &.region-content-bottom{
      color:#FFF;
      font-size:14px;
      .block{
          margin-bottom:20px;
      }
      h2.block-title{
        margin-top: 0;
      }
    }
   &.region-content-first{
      ul {
        li{
          list-style-type:square;list-style-position: inside;
        }
        }
    }
    &.region-content-second{}
    &.region-content-top{
      h2 {
        line-height: 1.2em;
        font-size: 25px;
        margin-top:0;
        margin-bottom: .5em;
      }
      p{
         margin-top: 10px;
      }
      .block-boxes-os_boxes_html {
        float:left;
        display:inline;
        clear:none;
      }
      .block-boxes-simple {
      float:left;
      display:inline;
      }
     .os-topcontent {
        color: #FFFFFF;
        float: left;
        margin-bottom: 0;
        margin-left: 15px;
        margin-top: 10px;
        width: 288px;
      } 
      .os-videolink {
        float: right;
        padding: 4px 0 0 15px;
      }
    }
    &.region-content-bottom{
      ul {margin: 0;
        li{
          list-style-type:square;list-style-position: inside;
        }
        }
      .block-boxes-os_boxes_twitterfeed{
        ul {
            li {list-style-type:none;
            }
          }
          .tweet-authorphoto img {
            display:none;
          }
        } 
    }
  }
}
#content-row-2 {
  text-align: center;
  color:#fff;
  margin-bottom:50px;
  h3 {
    color: #fff;
    margin: 0 .2em 0 0;
    font-size: 48px;
  }
  li {
    display:inline;
    font-size: 30px;
    a{
        color: #abd407;
        text-decoration: none;
      &:visited{
        color: #abd407;
        text-decoration: none;
      }
      &:hover {
        color:#d3f204;
      }
    }
  }
}
div.tweets-pulled-listing div.tweet-divider {
  border-bottom: none;
  clear: left;
  margin: 5px 0 17px;
}
#block-os-site_search.no-title, 
.block-os-search-solr.no-title, 
.block-os-search-db.no-title {
  float:right;
  margin: -5px 32px 8px 0;
}
.views-table {
  width:100%;
  tr{
    &.odd,
    &.even{
         background-color: #FFF;
      }
    }
}
#failure-message {
  color: red;
}
#successful-message {
  color: green;
}
.vsite-message-status {
  background-color: white;
  padding: 0.8rem;
}
#edit-site-favicon-fid-ajax-wrapper,
.contextual-controls-wrapper,
.form-item-vsite-head-link-rel-publisher,
.form-item-vsite-head-link-rel-author,
#edit-vsite-seo  {
  display: none;
}
.media-browser-pane {
  .file-upload-disabled {
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
    background-color: #DCDAD1;
  }
}
.ng-scope {
  .file-upload-disabled {
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
    background-color: #DCDAD1;
  }
}