/*** HEADER FOR FACULTITIES ***/
@each $faculty in $faculties {
  $i: index($faculties, $faculty);
  #header-container.#{nth($faculties, $i)} h1 a,
  #header-container.#{nth($faculties, $i)} h1 a:visited,
  #header-container.#{nth($faculties, $i)} h2{
     color: $black;
  }
  #menu-wrapper.#{nth($faculties, $i)} #menu-bar,
  #menu-wrapper.#{nth($faculties, $i)} #menu-bar ul.nice-menu li a,
  #menu-wrapper.#{nth($faculties, $i)} #menu-bar ul.nice-menu li a:visited {
    color: nth($default_faculty_colour, $i);
  }
}


/*** HOVER BAR FOR FACULITIES ***/
@each $faculty in $faculties {
  $i: index($faculties, $faculty);
  #menu-wrapper.#{nth($faculties, $i)} #menu-bar ul.nice-menu li a:hover {
    @if nth($faculties, $i) == default {
      border-bottom: 6px solid $uw-gold;
    } @else {
      border-bottom: 6px solid nth($faculty_colours_light, $i);
    }
  }
}


/*** LINK FACULTY COLOURS ***/
@each $faculty in $faculties {
  $i: index($faculties, $faculty);
  #content.#{nth($faculties, $i)} a,
  #content.#{nth($faculties, $i)} .biblio-title,
  .#{nth($faculties, $i)} #tasks .tabs a,
  .#{nth($faculties, $i)} ul.contextual-links li a {
    color: nth($default_faculty_colour, $i);
  }

  #content.#{nth($faculties, $i)} a:hover,
  #content.#{nth($faculties, $i)} .biblio-title:hover,
  .#{nth($faculties, $i)} #tasks .tabs a:hover {
    color: nth($default_faculty_colour, $i);
    text-decoration: none!important;
  }

  .#{nth($faculties, $i)} ul.contextual-links li a:hover {
    color: white;
    background-color: nth($default_faculty_colour, $i)!important;
  }
}

.header-main.header-right .region-header-second .region-inner {
  margin-right: 0;
}

form#search-block-form {
  display: none;
}

#vsite-register-form ul {
  position: relative;
  left: 61px;
}

/*** BIBLIO SORT TABS ***/
@each $faculty in $faculties {
  $i: index($faculties, $faculty);
  #content.#{nth($faculties, $i)} #biblio-header a {
    margin-right: -5px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px solid #e4e4e4;
    background-color: #f5f5f5;
    font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
    display: inline-block;
  }

  #content.#{nth($faculties, $i)} #biblio-header a:hover {
    background-color: #fff;
  }

  #content.#{nth($faculties, $i)} #biblio-header a[class="active active"] {
    margin-right: -20px;
    background-color: #fff;
    padding: 5px 20px;
  }
}

#biblio-header a:nth-child(2) {
  border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
}

#biblio-header a:nth-last-child(2) {
  border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
}

#biblio-header .ctools-dropdown-link-wrapper a {
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}

/*** BIBLIO SEARCH AND SORT LINKS ***/

fieldset#edit-sort-form {
  margin: 10px 0;
}

#biblio-search-form fieldset {
  margin: 10px 0;
}

legend {
  font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
}

#biblio-search-form::after {
  content: "Sort";
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  padding-left: 8px;
  font-weight: bold;
  font-size: 1.1em;
}

#biblio-search-form {
  padding-bottom: 10px;
}

.exposed-filters .item-list ul {
  display: none;
}

.biblio-current-filters {
  background-color: transparent;
}

.biblio-filter-status {
  padding-top: 18px;
}

.biblio-filter-status {
  padding: 10px 0px;
}

#edit-actions #edit-undo {
  display: none;
}

#edit-actions #edit-reset {
  display: none;
}

/*** LOCAL SITE FOOTER FACULTY COLOURS ***/
// @each $faculty in $faculties {
//   $i: index($faculties, $faculty);
//   .uw_scholar_row_wrapper.#{nth($faculties, $i)} {
//     background-color: nth($default_faculty_colour, $i);
//   }
// }


/***** HOMEPAGE BANNERS CAPTION TEXT ******/
@each $faculty in $faculties {
  $i: index($faculties, $faculty);
  .homepage-banners-top-wrapper.#{nth($faculties, $i)}.uw-homepage-banners-figure .banner-caption,
  .homepage-banners-top-wrapper.#{nth($faculties, $i)} button.slideshow-control,
  .homepage-banners-top-wrapper.#{nth($faculties, $i)} .tabs-previous,
  .homepage-banners-top-wrapper.#{nth($faculties, $i)} .tabs-next {
    @if nth($faculties, $i) == default {
      color: $uw-gold;
    } @else {
      color: nth($faculty_colours_light, $i)
    }
  }
  
  .homepage-banners-top-wrapper.#{nth($faculties, $i)} .uw-homepage-banners-figure a:hover .banner-caption,
  .homepage-banners-top-wrapper.#{nth($faculties, $i)} button.slideshow-control:hover,
  .homepage-banners-top-wrapper.#{nth($faculties, $i)} .tabs-previous:hover,
  .homepage-banners-top-wrapper.#{nth($faculties, $i)} .tabs-next:hover {
    @if nth($faculties, $i) == default {
      color: $uw-black;
      background-color: darken($uw-gold, 8%);
    } @else {
      color: nth($default_faculty_colour, $i);
      background-color: darken(nth($faculty_colours_light, $i), 8%);
    }
  }

  @media screen and (min-width: 1rem) {
    .banner-caption {
      text-align: center;
      border: none;
      width: 100%;
      color: #fff;
      display: block;
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: center;
      bottom: 1.5rem;
      max-height: 15rem;
      max-width: 63.125rem;
    }

    .homepage-banners-top-wrapper a {
      text-decoration: none;
    }

    @if nth($faculties, $i) == default {
      .homepage-banners-top-wrapper.default .uw-homepage-banners-figure .banner-caption,
      .homepage-banners-top-wrapper.default button.slideshow-control {
        background-color: $uw-black;
      }
    }
    @else {
      .homepage-banners-top-wrapper.#{nth($faculties, $i)} .uw-homepage-banners-figure .banner-caption,
      .homepage-banners-top-wrapper.#{nth($faculties, $i)} button.slideshow-control {
        background-color: nth($default_faculty_colour, $i);
      }
    }
    .personal_fp_info_footer {
      padding: 1rem 0 1rem 1rem;
    }
  }

  @media screen and (min-width: 48.0625rem) {
    .banner-caption {
      text-align:center;
      padding: 1rem 2.5rem;
      border: none;
      width: 100%;
      color: #fff;
      display: block;
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: center;
      transition-delay: 0s;
      transition-duration: 0.2s;
      transition-property: opacity;
      position: absolute;
      bottom: 1.5rem;
      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: color, background-color, border-color, opacity;
      height: auto;
      opacity: 1;
    }

    @if nth($faculties, $i) == default {
      .homepage-banners-top-wrapper.#{nth($faculties, $i)} .uw-homepage-banners-figure .banner-caption,
      .homepage-banners-top-wrapper.#{nth($faculties, $i)} button.slideshow-control {
        background-color: nth($uw-black, $i);
        opacity: .8;
      }
    }
    @else {
      .homepage-banners-top-wrapper.#{nth($faculties, $i)} .uw-homepage-banners-figure .banner-caption,
      .homepage-banners-top-wrapper.#{nth($faculties, $i)} button.slideshow-control {
        background-color: nth($default_faculty_colour, $i);
        opacity: .8;
      }
    }

    .personal_fp_info_footer {
      padding: 1rem 0 1rem 0;
    }
  }
}
/***** TWITTER SIDEBAR *****/
.twitter-sidebar-wrapper {
  max-height: 500px;
  overflow: scroll;
  clear: both;
}

.twitter-homepage-wrapper {
  width: 100%;
  max-height: 450px;
  overflow: scroll;
}

/***** REMOVE LOAD PREVIOUS LINK *****/
#autopager-load-prev {
  display: none;
}

/***** DISPLAY HOMEPAGE BANNERS *****/
.personal_fp_school .faculty-logo {
  max-width: 90%;
}

.views-row article.node-person p {
  margin-bottom:0px;
}

.region-header-second .boxes-box-content p {
  display: none;
}

.field-name-field-uw-home-page-banners {
  padding-bottom: 0;
  width: 100%;
  padding: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.field-name-field-uw-home-page-banners img {
  max-width: 100%;
  width: 100%;
  padding: 0;
  border: none;
  height: auto;
}

figure.uw-homepage-banners-figure {
  margin: 0;
  padding: 0;
  position: relative;
}

.field-name-field-uw-home-page-banners .field-items {
  position: relative;
}

/****** HOMEPAGE BANNERS LINKS *****/
.uw-homepage-banners-figure a:link .banner-caption-wrapper .banner-caption h2{text-decoration:none;}
.uw-homepage-banners-figure a:active .banner-caption-wrapper .banner-caption h2{text-decoration:none;}
.uw-homepage-banners-figure a:hover .banner-caption-wrapper .banner-caption h2{text-decoration:none;}
.uw-homepage-banners-figure a:visited .banner-caption-wrapper .banner-caption h2{text-decoration:none;}


/****** HOMEPAGE SETTINGS EDITING SCREEN FIXES *****/
#edit-actions-top {
  display: none;
}

#edit-preview {
  display: none;
}

#edit-preview-changes {
  display: none;
}

#edit-status .form-item-term-id {
  display: none;
}

#edit-status .form-item-keyword {
  display: none;
}

/****** PAGINATOR *****/
.homepage_banners_paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
}


/****** SELECTED LINK *****/
.homepage_banners_paginator a.hpb_selected {
  width: 100%;
  background-color: #fff;
  border-left: none;
  outline: 0;
}


/****** PAGINATOR LISTS *****/
.homepage_banners_paginator li {
  flex: 1;
  padding: 0;
  border-right: 1px solid #fff;
  margin-top: 0;
  marinn-bottom: 0;
  list-style-type: none;
}

.homepage_banners_paginator li a {
  padding: 0;
  background-color: #878787;
  border: 0;
  text-indent: -9999rem;
  display: block;
  height: .8rem;
  margin: 0;
}

.homepage_banners_paginator li:last-child {
  border-right: none;
}


/****** BANNER CAPTION WRAPPER ******/
.banner-caption-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 63.125rem;
}


/****** HOMEPAGE BANNERS PICTURE ******/
.uw-homepage-banners-figure picture {
  padding: 0;
  margin: 0;
  position: relative;

}


/****** HOMEPAGE BANNERS H2 ******/
.uw-homepage-banners-figure h2 {
  font-size: 2.02729rem;
  padding: 0;
  margin: 0;
}


/****** HOMEPAGE BANNERS PARAGRAPH ******/
.uw-homepage-banners-figure p {
  font-size: 1.125rem;
}


/****** HOMEPAGE BANNERS TOP WRAPPER ******/
.homepage-banners-top-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
}

/***** SLIDESHOW BUTTONS *****/
button.slideshow-control.pause::before {
  content: "\e001";
}

button.slideshow-control.play::before {
  content: "\e000";
}

button.slideshow-control {
  left: 1.5rem;
  bottom: 3.5rem;
  position: absolute;
  font-family: iconic;
  font-style: normal;
  padding: 0.5rem;
  cursor: pointer;
  -moz-appearance: none;
  -moz-user-select: none;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  letter-spacing: 0.055rem;
  margin: 0 auto;
  max-width: 18.125rem;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}


/***** TABS ******/
.tabs-previous, .tabs-next {
  background-color: transparent;
  font-size: 4.10989rem;
  width: 3rem;
  font-family: Typ1451-Regular,verdana,sans-serif;
  font-weight: 200;
  height: auto;
  padding: 0 0 0.5rem;
  position: absolute;
  top: 30%;
  -moz-appearance: none;
  -moz-user-select: none;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.055rem;
  margin: 0 auto;
  max-width: 18.125rem;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.tabs-previous {
  left: 0;
}

.tabs-next {
  right: 0;
}


/****** BOXES: FIXES HOMEPAGE BANNERS HEIGHT *****/
.boxes-box-content {
  // margin-bottom: 0.3rem;
}

/* Hide the link under home page boxes-box content */
#header-container #block-boxes-site-info .boxes-box-content p a {
  display: none;
}

/* Homepage layout styles. */
.uw_scholar_row_wrapper {
  width:100%;
  clear:both;
  position:relative;
}

.field-name-field-uw-home-page-banners p {
  margin-bottom: 0;
}

.uw_scholar_row{
  max-width: 63.125rem;
  margin: 0 auto;
}
body.html img.personal_fp_img  {
  width:100%;
  display:block;
  max-width:100%;
  margin:0 0 1rem 0;
}
.personal_fp_info{
  padding:1rem 0;
}
.personal_fp_info_footer{
  min-height:150px;
  color:#fff;
  width:100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}
.personal_fp_info_footer h2{
  margin:0 0 0.5rem 0;
}
.personal_fp_info_footer div {
  margin:0 0 1rem 0;
}
.personal_fp_info_footer span{
  display:block;
}
.personal_fp_school,
.personal_fp_contact,
.personal_fp_hours{
  padding:0;
  box-sizing: border-box;
}
@media screen and (min-width: 640px) {
  body.html img.personal_fp_img  {
    max-width:360px;
    margin:0 1rem 1rem 0;
  }
  body.html .image-left{
    float:left;
  }
  .personal_fp_info_footer{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
  }
  .personal_fp_school,
  .personal_fp_contact,
  .personal_fp_hours{
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 33%;
    -moz-flex: 1 0 33%;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
    margin-bottom:1rem;
  }
}
.personal_fp_school{
  margin-bottom:1.5rem;
}
.personal_fp_contact{
  margin-bottom:1.5rem;
}

.personal_fp_contact a:hover{
  text-decoration:none;
}
/* Blog*/
.view-os-blog .node-blog{
  border:1px solid #dbdbdb;
  padding:1rem;
}
/* News */
.view-os-news .views-row{
  border:1px solid #dbdbdb;
  padding:1rem;
}
/* Classes */
.view-os-classes .views-row{
  border:1px solid #dbdbdb;
  padding:1rem;
}
/* Table for file list. */
.os-files-other-list{
  width:100%;
  margin:1rem 0;
}
.os-files-other-list tbody tr td.file ,
.os-files-other-list tbody tr td.mime,
.os-files-other-list tbody tr td.size{
  padding-top:0.5rem ;
  padding-bottom:0.5rem;
}
.view-os-faq .toggle{
  position:relative;
  right:inherit;
}
/* Calendar */
.date-box .inner{
  box-sizing:inherit;
}
/* Hidding the "remove widget" with css */
#block-boxes-site-info .contextual-links-wrapper ul.contextual-links li:last-child,
#block-os-primary-menu .contextual-links-wrapper ul.contextual-links li:first-child,
#block-views-os-events-block-1 .contextual-links-wrapper ul.contextual-links li:last-child,
#block-boxes-os-pages-section-nav .contextual-links-wrapper ul.contextual-links li:nth-child(2n),
#block-boxes-os-addthis .contextual-links-wrapper ul.contextual-links li:last-child,
#block-boxes-os-faq-sv-list .contextual-links-wrapper ul.contextual-links li:last-child,
#block-boxes-os-news-latest .contextual-links-wrapper ul.contextual-links li:last-child,
#block-views-os-blog-block .contextual-links-wrapper ul.contextual-links li:last-child,
#block-boxes-os-presentations-recent .contextual-links-wrapper ul.contextual-links li:last-child,
#block-boxes-os-publications-recent .contextual-links-wrapper ul.contextual-links li:last-child,
#block-os-pages-main-content .contextual-links-wrapper ul.contextual-links li:last-child{
  display:none;
}

/* profile page */
.node-person h1{
  clear:both;
}
.node-person.node-teaser h1{
  clear:inherit;
}

#content-column {
  min-height: 500px;
}

.sitewide-front #content-column {
  min-height: 10px;
}

#content-column .node-person .field-name-field-phone{
  float:inherit;
}
#content .node-person .field-name-field-email{
  float:inherit;
}
@media screen and (min-width: 30rem) {
  .node-person h1{
    clear:inherit;
  }
}

.region-header-second h2 {
  margin-bottom: 0px;
}

.personal_fp_school img {
  margin-top: 0.38em;
}

.uw-homepage-banners-figure {
  border: 0;
  padding: 0;
  margin: 0;
  height: auto;
}

.uw-homepage-banners-figure picture img {
  display: block;
}

.uw-homepage-banners-figure {
  overflow: hidden;
}

.personal_fp_info .media {
  clear: both;
}
